/* Background color */
body{
    background-color: #e6f2ff;
}



/* Header */
header{
    padding: 2.5vw 0vw;
    text-align: center;
}



/* Logo */
#logo{
    display: inline-block;
    padding-right: 0vw;
}

#logo img{
    height: 5vw;
}



/* Navbar */

#navbar{
    display: inline-block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1a8cff;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1.8vw 1.8vw;
    text-decoration: none;
    font-size: 1.2vw;
}
  
li a:hover {
    color:#00264d;
}



/* Dropdown Menu */
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
  }
  
  
  li.dropdown {
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #99ccff;
    width: 16vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {background-color: #66b3ff;}
  
.dropdown:hover .dropdown-content {
    display: block;
}

* {box-sizing:border-box}




/* Slideshow */
.slideshow-container {
  width: 64vw;
  padding-bottom: 3.5vw;
  position: relative;
  margin: auto;
}

.slideshow-container img{
    height:30vw;
    border: 5px solid #1a8cff;
}



/* Hide the images by default */
.mySlides {
  display: none;
}



/* Buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -3.5vh;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: #1a8cff;
}



/* Dots*/

#dots{
    margin-top: -3.7vh;
}

.dot {
  cursor: pointer;
  height: 1vw;
  width: 1vw;
  margin: 0 2px;
  background-color: #e6f2ff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #1a8cff;
}

/* Upper content */

#upper_content{
    text-align: center;
    padding-bottom: 3.5vw;
}

#poster{
    display: inline-block;
    width: 32vw;
}

#poster img{
    width: 35vw;
    height: auto;
    position: absolute;
    top: 48vw;
    left: 14.5vw;;
}

#info{
    background-color: #1a8cff;
    color: #ffffff;
    width: 32vw;
    display: inline-block;
}

#info p{
    text-align: left;
    font-size: 0.9vw;
    padding-left: 2vw;
}

#info h6{
    text-align: left;
    font-size: 1.3vw;
    padding-left: 2vw;
}



/* Bottom content */

#bottom_content{
    padding-bottom: 3.5vw;
}

#bottom_content img{
    width: 64vw;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #1a8cff;
}

#bottom_content p{
    color:#ffffff;
    position: absolute;
    top: 63vw;
    left: 20vw;
    font-size: 2.6vw;
}



/* Footer */

footer{
    background-color: #1a8cff;
    color: #ffffff;
    width: 64vw;
    position: absolute;
    left: 17.8vw;
}

footer #images img{
    padding-top: 1vw;
    padding-bottom: 2vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    width: 4vw;

}

footer #images{
    float: right;
    padding-right: 5.5vw;
}

footer p{
    display: inline-block;
    font-size: 1vw;
}

#copyright_text{
    position: absolute;
    top: 3.5vw;
    left:27vw;
}

#socialmedia_text{
    position: absolute;
    top: 3.5vw;
    left: 45vw;
}

#logo_black img{
    position: absolute;
    width: 20vw;
    top: 1.5vw;
    left: 1.5vw;
}

